<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.forcesales">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.Developer.IssueTracker.SearchOptionIssueTrackerActivity" />
        <activity android:name=".UI.Developer.IssueTracker.SearchIssueTrackerActivity" />
        <activity android:name=".UI.InfoBar.DeveloperInfoStats" />
        <activity android:name=".UI.Developer.AddEmployeeActivity" />
        <activity android:name=".TestHelper.IssueTrackerHelper" />
        <activity android:name=".UI.InfoBarActivity" />
        <activity android:name=".ClientMenu.ShowSaleListActivity" />
        <activity android:name=".ClientMenu.AddSaleActivity" />
        <activity android:name=".ClientMenu.RemoveSaleActivity" />
        <activity android:name=".ClientMenu.RemoveTaskActivity" />
        <activity android:name=".ClientMenu.AddTaskActivity" />
        <activity android:name=".ClientMenu.ShowTaskListActivity" />
        <activity android:name=".ClientMenu.RemoveClientActivity" />
        <activity android:name=".ClientMenu.AddClientActivity" />
        <activity android:name=".ClientMenu.ShowClientListActivity" />
        <activity android:name=".ClientMenu.ManageTaskActivity" />
        <activity android:name=".ClientMenu.SubmitTicketClientActivity" />
        <activity android:name=".ClientMenu.ManageSaleActivity" />
        <activity android:name=".ClientMenu.ManageClientActivity" />
        <activity android:name=".Employee.ApplicationsActivity" tools:ignore="InnerclassSeparator" />
        <activity android:name=".ClientMenu.ClientMenuActivity" />
        <activity android:name=".ClientMenu.EmployeeMenuActivity" />
        <activity android:name=".UI.Developer.DeveloperMenuActivity" tools:ignore="InnerclassSeparator" />
        <activity android:name=".UI.Developer.IssueTracker.ManageIssueTrackerActivity" tools:ignore="InnerclassSeparator" />
        <activity android:name=".UI.Developer.IssueTracker.AddOrUpdateIssueTrackerActivity" tools:ignore="InnerclassSeparator" />
        <activity android:name=".UI.Developer.IssueTracker.ViewIssueTrackerActivity" tools:ignore="InnerclassSeparator" />
        <activity android:name=".UI.Developer.IssueTracker.RemoveIssueTrackerActivity" tools:ignore="InnerclassSeparator" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
