<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forcesales">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RemoveTaskActivity"></activity>
        <activity android:name=".AddTaskActivity" />
        <activity android:name=".ShowTaskListActivity" />
        <activity android:name=".RemoveClientActivity" />
        <activity android:name=".AddClientActivity" />
        <activity android:name=".ShowClientListActivity" />
        <activity android:name=".ManageTaskActivity" />
        <activity android:name=".SubmitTicketClientActivity" />
        <activity android:name=".ManageSaleActivity" />
        <activity android:name=".ManageClientActivity" />
        <activity android:name=".Employee.ApplicationsActivity" />
        <activity android:name=".ClientMenuActivity" />
        <activity android:name=".EmployeeMenuActivity" />
        <activity android:name=".UI.Developer.DeveloperMenuActivity" />
        <activity android:name=".UI.Developer.IssueTracker.ManageIssueTrackerActivity" />
        <activity android:name=".UI.Developer.IssueTracker.ShowIssueTrackerListActivity" />
        <activity android:name=".UI.Developer.IssueTracker.AddIssueTrackerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>